@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
/* Remove focus ring on the input */
.custom-phone-input .PhoneInputInput:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

/* Remove focus ring on the country dropdown */
.custom-phone-input .PhoneInputCountry:focus-within {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

/* Ensuring transparent background remains */
.custom-phone-input input {
  background: transparent !important;
  border: none !important;
  outline: none !important;
  color: white !important;
}