@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes spin {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
  }
  
.bk
{

  font-family: 'Courier New', Courier, monospace !important;
}